@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel {
  margin-bottom: 50px;
  font-family: "NerisLight", sans-serif;
  font-size: 1.6rem;
}

.carousel h3, .carousel p {
  margin: 0.5em 0;
}

.carousel .slick-dots li {
  margin: 0 15px;
}

.carousel .slick-dots li button {
  background: white;
  border: 1px solid #d03140;
  border-radius: 50%
}

.carousel .slick-dots li.slick-active button {
  background: #d03140;
}

.carousel .slick-dots li button:before {
  display: none;
}
